@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #714f8e;
  --sub-color: #bd71ff;
}

@layer base {
  html {
    font-family: "Montserrat", system-ui, sans-serif;
  }
}

body {
  color: #121212;
  background: white;
  font-size: 16px;
}

iframe {
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
  height: 10px; /* Adjust the height of the horizontal scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: #000000; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}
::-webkit-scrollbar-track {
  background-color: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
}

.course-custom::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.slick-dots {
  bottom: 80px; /* Adjust if needed */
}
.slick-dots.custom-dots .slick-active,
.slick-dots.custom-dots .slick-active div {
  width: 40px;
}
.custom-arrow.slick-arrow::before {
  display: none;
}

.custom-review .slick-slider {
  height: 500px;
}
.custom-course .slick-slider {
  height: 100%;
}

.OriginBottomRotate90 {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
}

.OriginBottomRotate90::-moz-range-track {
  background: transparent;
}

.OriginBottomRotate90::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

/* Custom styles for the vertical volume slider thumb */
.custom-youtube::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bd71ff;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.2s ease;
}

.custom-youtube::-moz-range-thumb {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #bd71ff;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.2s ease;
}

.custom-youtube::-webkit-slider-thumb:hover {
  transform: scale(1.2);
}

.custom-youtube::-moz-range-thumb:hover {
  transform: scale(1.2);
}
